.app {
  display: block;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: var(--spacing-lg);
  transition: margin-left var(--transition);
}

@media (min-width: 769px) {
  .main-content {
    margin-left: 280px;
  }

  .sidebar.closed + .main-content {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}
